@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@519&display=swap");
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
